@media screen and (orientation: landscape) {
  #svg-panel {
    height: 90vh;
    width: 90vh;
  }
}
@media screen and (orientation: portrait) {
  #svg-panel {
    height: 90vw;
    width: 90vw;
  }
}
