<div class="card w-100" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Controls</h5>

    <button
      type="button"
      (click)="onClickResetZoom($event)"
      class="btn btn-dark btn-lg btn-block mb-1"
    >
      Reset zoom and center
    </button>

    <button
      type="button"
      (click)="onClickExport($event)"
      class="btn btn-dark btn-lg btn-block mb-1"
    >
      Export visible
    </button>

    <div class="input-group mt-3">
      <input
        [(ngModel)]="searchValue"
        type="text"
        class="form-control"
        placeholder="Element label"
        aria-label="Element label"
        aria-describedby="button-find"
      />
      <div class="input-group-append">
        <button
          class="btn btn-info"
          type="button"
          id="button-find"
          (click)="onClickFindElement(searchValue)"
          formtarget="_blank"
        >
          Find element
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card w-100 mt-3" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Details</h5>

    <div class="row">
      <div class="col">
        <div class="card-header">Key/value</div>
        <ul *ngIf="details" class="list-group list-group-flush">
          <li class="list-group-item">Key : {{ details.port_number }}</li>
          <li class="list-group-item">Value : {{ details.value }}</li>
        </ul>
      </div>
      <div class="col">
        <div class="card-header">Grid Infos</div>
        <ul *ngIf="details" class="list-group list-group-flush">
          <li class="list-group-item">Line : {{ details.line }}</li>
          <li class="list-group-item">Column : {{ details.col }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
