<div
  class="container-fluid h-100 w-100 d-flex justify-content-center align-items-center"
>
  <div class="row w-100">
    <div class="col col-md-8 d-flex justify-content-center">
      <div class="card bg-dark">
        <app-svg
          [width]="gridW"
          [height]="gridW"
          [xOffset]="offX"
          [yOffset]="offY"
          [xSlices]="sliceX"
          [ySlices]="sliceY"
          [lineWidth]="lineWidth"
          (gridRectangleClicked)="rectangleClicked($event)"
          (gridRectangleEntered)="rectangleEntered($event)"
          (gridRectangleExited)="rectangleExited($event)"
          (viewboxChanged)="viewboxUpdate($event)"
        ></app-svg>
      </div>
    </div>
    <div class="col col-md-4">
      <app-svg-details
        (resetZoomClicked)="resetZoom($event)"
        (searchClicked)="searchGrid($event)"
        (exportClicked)="exportVisible()"
        [details]="details"
        [box]="box"
      ></app-svg-details>
    </div>
  </div>
</div>
